{% extends 'base.html' %}
{% block title %}Sentiment Project Add A Phrase{% endblock %}

{% block body %}

  <h1 style="color:#ff005b">Add a new phrase to the collection.</h1>
  
  
    <p>
      Remember the beginning of the pandemic, back in 2020 ...</p>
        <div>
          <p>Touch <font style="color:#ff005b">here</font> to help you remember</p>
          </div>
              
            <div>
              <p> Are you thinking about the feelings of last spring? </p>
                <input type="radio" id="gimme_a_sec" name="think_about_it" value="no" required>
                  <label for="gimme_a_sec">gimme a sec ...</label>
                <input type="radio" id="yes" name="think_about_it" value="yes" required>
                  <label for="yes">yes, I am</label>
            </div>    
                
            <div>
              <p> Were some of your expectations for yourself different then? </p>           
                <input type="radio" id="not_really" name="expectations_different" value="no" required>
                  <label for="not_really">not really</label>
                <input type="radio" id="yes" name="expectations_different" value="yes" required>
                  <label for="yes">for sure</label>
            </div>

            <div>
              <p> Is there something you would have said to yourself then that you only know now? </p> 
                <input type="radio" id="not_knowing_has_been_nice" name="told_yourself" value="no" required>
                  <label for="not_knowing_has_been_nice"> no – not knowing the future has been nice </label>
                <input type="radio" id="yes" name="told_yourself" value="yes" required>
                  <label for="yes">yeah, I wish I'd been better prepared for this past year</label>
            </div>  
                
              <div><p>  
                <form>
                  <input type="submit" value="you've got me thinking">
                </form></p> 
              </div>  

                <div>    
                  <p> Now, when you think about the future, what worries come up?</p>
                  <p> Lately, what's wonderful?</p>
                    <div>
                      <p> Touch <font style="color:#ff005b">here</font> to be here, now. </p>
                    </div>
                </div>
                    
              <form action="/add_new_phrase" method="POST">
                <div>
                  <p> A sentence about what you want to remember about how you feel now (max 140 characters) 
                    <input type="text" maxlength="140" size="80" name="phrase_text" required>
                  </p>
                  
                  <p>
                    Zipcode at current location <input type="text" maxlength="5" name="zip" required>
                  </p>

                    <div>
                      Are you at __ , ___ ? Yes, or reset and show a text box to enter city and state.
                    </div>
                </div>
                
                  <div> 
                    <p> Before submitting this, do you mean __ instead of __, or what you wrote is right?
                    </p> 
                    <form>
                      <input type="submit" value="it's right!"> 
                      <input type="reset" value="edit it">
                    </form> 
                  </div>       
  
                  <div>
                    <form>
                      <p> To display your phrase together with others, please add: 
                      </p>
                    
                      <p> current job or role (max 20 characters)
                        <input type="text" maxlength="20" name="job_at_phrase" required>
                      </p>
                    
                      <p> age (your actual age, or '65+')
                        <input type="text" maxlength="3" name="age_at_phrase" required>
                      </p>
                        
                        <p>
                          <input type="submit">
                        </p>
                    </form>
                  </div>        

                <div>  
                  <p>
                    <a href="/sort_by_one_region">see my phrase
                    </a>
                  </p>  
                  
                  <p>
                    <a href="/phrase_collection"> see general collection of phrases </a>
                  </p> 
                </div>

{% endblock %}

