{% extends 'base.html' %}
{% block title %}Sentiment Project Homepage{% endblock %}

{% block body %}

<p>Please fill one of these out to see YOUR phrases, or, just go see <a href="/">some phrases!</a></p>

<h2 style="color:#ff005b">Existing Users Can Log-In</h2>
<form action="/login" method="POST">
  <p>
    Email <input type="text" name="email" required>
  </p>

  <p>
    Password <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit">
  </p>
</form>

<p> or 
    </p>

    <h2 style="color:#ff005b">Make a New Account</h2>
<form action="/create_account" method="POST">
  <p>
    First name <input type="text" name="fname" required>
  </p>

  <p>
    Last name <input type="text" name="lname" required>
  </p>
  
  <p>
    Email <input type="text" name="email" required>
  </p>

  <p>
    Password <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit">
  </p>
</form>


{% endblock %}