{% extends 'base.html' %}
{% block title %}  sign-in {% endblock %}

{% block body %}

<body style="margin-bottom: 20%;">
  <main class="container">

    <h2>first time trying this?
    </h2>
    <div><h1>sign up
      </h1></div>
        <form action="/create_account" method="POST">
          <p>
            <input type="text" name="fname" placeholder="first name" required>
          </p>
  
          <p>
            <input type="text" name="lname" placeholder="last name" required>
          </p>
          
          <p>
            <input type="text" name="email" placeholder="email" required>
          </p>
  
          <p>
            <input type="password" name="password" placeholder="password" required>
          </p>
  
          <p>
            <input type="submit" value="to exist">
          </p>
        </form>

  <h2> been here before?  
  </h2>
    <h1>login
    </h1>
      <form action="/login" method="POST">
        <p>
          <input type="text" name="email" placeholder="email@email.com" required>
        </p>

        <p>
          <input type="password" name="password" placeholder="***" required>
        </p>

        <p>
          <input type="submit" value="to persist">
        </p>
      </form>


  </main>
</body> 

{% endblock %}