{% extends 'base.html' %}
{% block title %}Phrases Collection, the homepage{% endblock %}

{% block body %}
<h1> Collection of Phrases from Around the Country </h1>
    <h2 style="color:#ff005b"> A Window on How People Have Been Feeling <br>
      in and beyond COVID.</h2>

      <div>
        {% for phrase in phrases %}
          <p> What did {{ phrase[0] }}  
            <a href="/phrases/{{phrase[3]}}">
              {{phrase[1]}}
            </a>
              say?
          </p>
        {% endfor %}
      </div>
  
  
  <h2 style="color:#ff005b"><a href="/sort_three_ways"> Choose a different way to sort the phrases</a></h2>

{% endblock %}