{% extends 'base.html' %}

{% block title %}Sort 3 Ways{% endblock %}

{% block body %}
<h1 style="color:#ff005b">Sort by Month, by Feeling, and by Region</h1>
        
        <p> We will have three buttons here!
            </p>

<div> 
    <p><button id="month-sort" type="button"> Month sort</button></p>
    <p><button id="feeling-sort" type="button"> Feeling sort</button></p>
    <p><button id="region-sort" type="button"> Region sort</button></p>
</div>            

<div id="month-form" style="display: none"><p>
    <form action="/sort_by_month" method="POST">
        <h2>Pick a month and see what the nation says – </h2>
            </p>
                <p>
                <h2 style="color:#ff005b">2020</h2> 
                    <input type="radio" id="month" name="month" value="2020-04-01">
                        <label for="Apr_2020">April</label>
                            <input type="radio" id="month" name="month" value="2020-05-01">
                                <label for="May_2020">May</label>
                                    <input type="radio" id="month" name="month" value="2020-06-01">
                                        <label for="June_2020">June</label>
                                            <input type="radio" id="month" name="month" value="2020-07-01">
                                                <label for="July_2020">July</label>
                                                    <input type="radio" id="month" name="month" value="2020-08-01">
                                                        <label for="Aug_2020">August</label>
                                                            <input type="radio" id="month" name="month" value="2020-09-01">
                                                        <label for="Sept_2020">September</label>
                                                    <input type="radio" id="month" name="month" value="2020-10-01">
                                                <label for="Oct_2020">October</label>
                                            <input type="radio" id="month" name="month" value="2020-11-01">
                                        <label for="Nov_2020">November</label>
                                    <input type="radio" id="month" name="month" value="2020-12-01">
                                <label for="Dec_2020">December</label>                            
                            <input type="radio" id="month" name="month" value="2021-01-01">
                        <h2 style="color:#ff005b">2021</h2>    
                            <label for="Jan_2021">January</label>
                                <input type="radio" id="month" name="month" value="2021-02-01">
                                    <label for="Feb_2021">February</label>
                                        <input type="radio" id="month" name="month" value="2021-03-01" checked>
                                            <label for="Mar_2021">March</label>
                                        <input type="submit">
                                    </form>
                                </p></div>

<div id="feeling-form" style="display: none"><p>
    <form action="/sort_by_feeling" method="POST">
        <h2>Would you like to see upbeat or eh?</h2>
            </p>
                <p>
                    <input type="radio" id="feeling" name="feeling" value="1">
                        <label for="positive">Upbeat</label>  
                            <input type="radio" id="feeling" name="feeling" value="0">
                                <label for="negative">Mmmf ...</label>   
                            <input type="submit">
                        </form>
                    </p></div>                            

<div id="region-form" style="display: none"><p>
    <form action="/sort_by_region" method="POST">
        <h2>From where would you like to see phrases?</h2>
            </p>
                <p>
                    <input type="radio" id="region" name="region" value="Pacific">
                        <label for="Pacific">Pacific</label>  
                            <input type="radio" id="region" name="region" value="West">
                                <label for="West">West</label>
                                    <input type="radio" id="region" name="region" value="Midwest">
                                        <label for="Midwest">Midwest</label>
                                            <input type="radio" id="region" name="region" value="Mid-Atlantic">
                                                <label for="Mid-Atlantic">Mid-Atlantic</label> 
                                                    <input type="radio" id="region" name="region" value="Southeast">
                                                        <label for="Southeast">Southeast</label>  
                                                    <input type="radio" id="region" name="region" value="New England">
                                                <label for="New England">New England</label>         
                                            <input type="submit">
                                        </form>
                                    </p></div>                    

{% endblock %}
