{% extends 'base.html' %}

{% block title %}sort by {{ phrase_region }}{% endblock %}

{% block body %}
<h1 style="color:#ff005b"> people speaking from the {{ phrase_region }} </h1>

  <div>
    {% for region_phrase_tuple in region_phrases_tuples %}
      <p><h1>{{ region_phrase_tuple[2] }}
          </h1>
        </p>
        <p> What   
          <a href="/phrases/{{region_phrase_tuple[3]}}">
            {{ region_phrase_tuple[0] }} {{region_phrase_tuple[1]}}
          </a>
            feels.
        </p>

    {% endfor %}
  </div>
      

{% endblock %}
