{% extends 'base.html' %}
{% block title %}The Internet Is a Thing That Makes Us Feel{% endblock %}

{% block body %}
<h1>The Internet Is a Thing That Makes Us Feel</h1>
    <h2 style="color:#ff005b">expressions of joy and pain from the recent now
    </h2>

    <div>
        <p> Covid times are tough.<br>
                If you're feelin' it, you are not alone.<br>
            <a href="/sort_three_ways">See</a> what people are saying.<br>
            <a href="/login">Sign up</a> to be part of the collection.
        </p>
    </div>
  

{% endblock %}