{% extends 'base.html' %}
{% block title %}The Internet Is a Thing That Makes Us Feel{% endblock %}

{% block body %}

<body style="margin-bottom: 20%;">
    <main class="container">
      <div class="font-effect-anaglyph">Remember the beginning of the pandemic, back in 2020 ...</div>


<h1>“The Internet Is a Thing That Makes Us Feel”</h1>
    <h2>an online exhibit of expressions of joy and pain from the recent now</h2>
    

    <div>
        <p> Covid times are tough.<br>
            If you're feelin' it, you are not alone.<br>
            <a href="/sort_three_ways">See</a> what people are saying.<br>
            <a href="/login">Be</a> part of the collection.
        </p>
    </div>

  
</main>
</body>

{% endblock %}