{% extends 'base.html' %}
{% block title %}Introduction{% endblock %}

{% block body %}
<h1>The Internet Is To Know How I Feel</h1>
    <h2 style="color:#ff005b">This is a collection of expressions from people all over the US during these Covid times.
        </h2>

    <div>
        <p> Covid times have been tough.<br>
                If you think so, you are not alone.<br>
                    See what people have had to say.<br>
                        Let it help you contextualize how you yourself think.<br>
                            Add to the collection.
                        </p>
                    </div>
  
  
  <h2 style="color:#ff005b"><a href="/sort">Look at these sorts (route not finished)</a></h2>

{% endblock %}